 <div class="user-details">
  <h1> My Expertise </h1>
  <p>Add knowledge by sharing more satisfying and glad to meet new people. Skilled in Java, PHP and teamwork, problem solving. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Frameworks</h2>
      <i class="devicon-codeigniter-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-android-plain-wordmark colored"></i>
      <i class="devicon-csharp-plain colore"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-atom-original colored"></i>
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
</div>
