<!DOCTYPE html>
<head>
<title>Pertanyaan Wawancara</title>
<link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/3456/3456426.svg">
<style type="text/css">
.pertanyaan{
	height: auto;
	width: auto;
    margin: 20px;
    font-family: Cambria;
    font-size: 20px;
}
.h1{
    align-content: center;
    font-family: Cambria;
}
</style>
</head>
<body>
    <center>
        <h1>Pertanyaan Wawancara OCP HMTI 2020</h1>
    </center>
    <br>
    <p class="pertanyaan">
        1. Hal apa saja yang bisa kamu berikan untuk organisasi ini ? <br>
        2. Alasan kamu masuk HMTI ? <br>
        3. Jelaskan kelebihan dan kekuranganmu ? <br>
        4. Apakah kamu bersedia meluangkan waktu, tenaga, dan pikiran jika HMTI membutuhkan kamu ? <br>
        5. Mengapa kamu ingin menjadi pengurus HMTI ? <br>
        6. Apakah kamu mempunyai hard skill ? bisa dijelaskan, di bidang apapun <br>
        7. Semisal hal yang kamu impikan/ekspetasikan di HMTI ini tidak sesuai dengaan ekspetasimu bagaimana kamu menyikapinya ? <br>
        8. Apakah kamu bisa bekerja sebagai tim ?  <br>
        9. Memimpin atau dipimpin ? <br>
        10. Semisal kamu sudah menjadi pengurus organisasi, merasakan bosan malas karena acara ataupun sibuk ada kegiatan lain, atau ada masalah dgn teman seorganisasi dan ingin keluar bagaimana sikapmu ? sedangkan kamu sudah berkomitmen menjadi pengurus HMTI  <br>
        11. Semisal teman satu organisasi kamu ada yang bosan malas dan mau keluar bagaimana sikapmu ? <br>
        12. Semisal dalam organisasi adan geng2an dan saling main kubu pro dan kontra bagaimana sikapmu untuk menghadapi hal tsb ? <br>
        13. Jelaskan kenapa kami harus memilihmu menjadi pengurus HMTI ? <br>
        14. Seberapa persen kamu di terima menjadi pengurus ? sebutkan alasannya <br>
        15. Dari 1-10 Seberapa komitmenmu menjadi pengurus HMTI ? <br>
        16. Deskripsikan diri kamu dalam 3 kata ?
    </p>
</body>
<footer class="main-footer">
    <center>
    <div class="pull-right hidden-xs">
        <!-- <strong><a href="https://ardianff.netlify.app" target="_blank">Ardian</a></strong>  -->
    </div>
    </center>
  </footer>

