<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <!-- <div class="images-right">
    <img alt="PesanAja" src="{{ "/assets/img/pesanaja.jpg" | prepend: site.baseurl }}" />
  </div> -->
  <div class="contents">
    <h3> PesanAja </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Project ini merupakan project kuliah saya, yang mana membuat aplikasi pemesanan tiket wisata berbasis android.</p>
    <a class="project-link" href="https://github.com/ardianff/PesanAja/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <!-- <div class="images-left">
    <img alt="Lambo" src="{{ "/assets/img/lambo.jpg" | prepend: site.baseurl }}" />
  </div> -->
  <div class="contents-right">
    <h3> Adventure of Lambo </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Ini game pertama saya dan teman-teman saya, game ini menggunakan engine unity dan merupakan game 2D dan memiliki 6 level.</p>
    <a class="project-link" href="https://github.com/ardianff/Lambo_Unity2D">Check it out</a>
  </div>
</div>
