<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="PesanAja" src="{{ "/assets/img/pesan.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> PesanAja </h3>
    <p>This project is my college project, which creates an android-based travel ticket booking application.</p>
    <a class="project-link" href="https://github.com/ardianff/PesanAja/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Lambo" src="{{ "/assets/img/lambo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Adventure of Lambo </h3>
    <p>This is the first platformer game for me and my friends, this game uses the unity engine and is a 2D game and has 6 levels.</p>
    <a class="project-link" href="https://github.com/ardianff/Lambo_Unity2D">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="PesanAja" src="{{ "/assets/img/pesan.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Presensi Karyawan </h3>
    <p>This is a big task for an on-campus subject that makes employee attendance applications using the geofence method.</p>
    <a class="project-link" href="https://github.com/ardianff/PPL_presensi_karyawan">Check it out</a>
  </div>
</div>
